body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-container {
  text-align: center;
}

.error-code {
  font-size: 100px;
  font-weight: bold;
  color: #FF5733;
}

.error-message {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.error-description {
  font-size: 18px;
  color: #666;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF5733;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #FF814A;
}

.error-icon {
  font-size: 100px;
  color: #FF5733;
  margin-top: 50px;
}
